#about{
    padding: 100px 0;

   .header-content{
     h2{
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        color: $primary-color;
        font-family: $font-family-nav;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        color: rgba(241, 245, 249, 0.7);
        font-family: $font-family-body;
        width: 750px;
        margin: 0 auto;
        text-align: center;
        line-height: 32px;
        font-weight: 400;
    }
   }
}

.about-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 80px;

    .about-image{
        width: 500px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px $secondary-color;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .about-item{
        display: flex;
        flex-direction: column;

        .card-section{
            display: flex;
            align-items: center;
            gap: 30px;

            .Card{
                background-color: #fff;
                padding: 20px 40px;
                border-radius: 10px;
                text-align: center;
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

                i{
                    font-size: 20px;
                    color: $secondary-color;
                }
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    text-transform: capitalize;
                    font-family: $font-family-body;
                    margin: 10px 0;
                }
                p{
                    font-size: 16px;
                    color: #1a1a1a;
                    width: 230px;
                    text-align: center;
                    font-weight: 400;
                    margin: 0 auto;
                    font-family: $font-family-body;
                    line-height: 28px;
                }
            }
        }

        p{
            font-size: 18px;
            color: rgba(241, 245, 249, 0.7);
            font-family: $font-family-body;
            width: 680px;
            line-height: 28px;
            margin: 30px 0;
            text-align: start;

        }

    }
    .Btn {
      text-decoration: none;
      padding: 10px 20px;
      background-color: $secondary-color;
      color: #1a1a1a;
      font-family: $font-family-body;
      font-weight: 600;
      width: fit-content;
      text-transform: capitalize;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:focus {
        background-color: transparent;
        border-color: $secondary-color;
        color: $secondary-color;
      }
    }
}

